name: Build

on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        required: true
        description: Version

jobs:
  make-release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ inputs.version }}
        name: BetterMisskeyTampermonkey ${{ inputs.version }}
        draft: false
        prerelease: false
        files: BetterMisskey.user.js
